@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 54 83% 95%;
    --foreground: 97 29% 11%;
    --card: 53 53% 91%;
    --card-foreground: 97 29% 11%;
    --popover: 54 83% 95%;
    --popover-foreground: 97 29% 11%;
    --primary: 97 29% 11%;
    --primary-foreground: 54 83% 95%;
    --secondary: 99 24% 19%;
    --secondary-foreground: 54 83% 95%;
    --muted: 53 36% 82%;
    --muted-foreground: 95 15% 31%;
    --accent: 53 53% 91%;
    --accent-foreground: 97 29% 11%;
    --destructive: 0 52% 36%;
    --destructive-foreground: 0 0% 100%;
    --border: 52 30% 75%;
    --input: 52 30% 75%;
    --ring: 97 29% 11%;
    --chart-1: 99 24% 19%;
    --chart-2: 95 15% 31%;
    --chart-3: 98 17% 47%;
    --chart-4: 82 20% 62%;
    --chart-5: 46 15% 83%;
    --sidebar: 97 29% 11%;
    --sidebar-foreground: 54 83% 95%;
    --sidebar-primary: 54 83% 95%;
    --sidebar-primary-foreground: 97 29% 11%;
    --sidebar-accent: 99 24% 19%;
    --sidebar-accent-foreground: 54 83% 95%;
    --sidebar-border: 99 24% 19%;
    --sidebar-ring: 54 83% 95%;
    --radius: 0rem;
    --tracking-normal: 0.05em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 104 24% 9%;
    --foreground: 54 83% 95%;
    --card: 97 29% 11%;
    --card-foreground: 54 83% 95%;
    --popover: 104 24% 9%;
    --popover-foreground: 54 83% 95%;
    --primary: 54 83% 95%;
    --primary-foreground: 104 24% 9%;
    --secondary: 99 24% 19%;
    --secondary-foreground: 54 83% 95%;
    --muted: 103 26% 13%;
    --muted-foreground: 82 20% 62%;
    --accent: 99 24% 19%;
    --accent-foreground: 54 83% 95%;
    --destructive: 0 61% 26%;
    --destructive-foreground: 54 83% 95%;
    --border: 99 24% 19%;
    --input: 99 24% 19%;
    --ring: 54 83% 95%;
    --chart-1: 54 83% 95%;
    --chart-2: 82 20% 62%;
    --chart-3: 98 17% 47%;
    --chart-4: 95 15% 31%;
    --chart-5: 99 24% 19%;
    --sidebar: 100 31% 6%;
    --sidebar-foreground: 54 83% 95%;
    --sidebar-primary: 54 83% 95%;
    --sidebar-primary-foreground: 104 24% 9%;
    --sidebar-accent: 97 29% 11%;
    --sidebar-accent-foreground: 54 83% 95%;
    --sidebar-border: 97 29% 11%;
    --sidebar-ring: 54 83% 95%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
